@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,900&display=swap');

* {
  color: #c2afa4;
  font-family: 'Lato', arial, sans-serif;
 }
#generatedCardContainer{
  /* on affiche la liste une fois qu'on clique sur générer un set de cartes */
  display: none;
}

body{
  margin:0 0 0 0;
  width: 100vw;
  background-color: #262f45;  
}
#contentContainer{
  max-width: 800px;
  margin: auto;
}

.header {
/* background-color: black; */
width: 100%;
top: 0;}

h1 {
  font-weight: 900;
  font-style: italic;
  font-size: 3em;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 1em;
}

button{
  background-color: blue;
}